.SignupPage_DifferentAcc{
    border: 1px solid #DCDCDC;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 400px;
}
.SignupPage_DifferentAcc:hover{
    background-color: #DCDCDC;
    cursor: pointer;
}
.SignupPage_AccTypeContent{
    margin-left: 20px;
}
.SignupPage_Acctype{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.CreateAccpage_formInputfield{
    margin-top: 20px;
}
.error_authentication{
    color: red !important;
    font-size: 15px;
}
.Modal_LoginPage{
    width: 210px;
    height: 210px;
}
.modal_createAccount{
    width: 210px;
    height: 210px;
}
.CreateAccpage_PhoneInputSec{
    width: 100%;
    margin-top: 10px;
}
.CreateAccpage_termsandPolicy{
    margin-top: 20px;
    margin-bottom: 10px;
}
.CreateAccpage_TermsandPolicyText{
    margin-left: 10px;
    font-size: 15   px;
}
.CreateAccpage_TermsofUse{
    color: rgba(71, 177, 67, 1);
    text-decoration: underline;
}
.Loginpage_enquireacc{
    color: rgba(71, 177, 67, 1) !important;
}