.Loginpage{
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Loginpage_Companyname{
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(88, 220, 83, 1) 50%,  rgba(253, 222, 73, 1) 100%);
    width: 460px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: white !important;
}
.Loginpage_companyImg{
    margin-top: 0;
    padding: 6px;
}
.Loginpage_formSection{
    background-color: white;
    color: black;
    padding: 3rem 2rem;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.Loginpage_formTopic{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.Loginpage_formTopicdetails{
    font-size: 16px;
    text-align: center;
}
.Loginpage_formInputfield{
   margin-top: 20px;
}
.Loginpage_formEmailaddr{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.Loginpage_formEmailInput{
    width: 400px;
    margin-top: 10px;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 5px;
    padding: 5px 20px;
    /* width: 100%; */
    font-size: 16px;
}
.Loginpage_formPasswordInput{
    width: 400px;
    display: flex;
    margin-top: 10px;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 5px;
    padding: 5px 20px;
    /* width: 100%; */
    font-size: 16px;
    align-items: center;
}
.Loginpage_PasswordInput{
    font-size: 16px;
    flex: 1;
    border: none;
}
.Loginpage_formForgotPassword{
    color: #0D0D9C !important;
    padding: 15px 0;
    font-weight: 600;
}
.Loginpage_formLoginButton{
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: rgba(71, 177, 67, 1);
    border: none;
    padding: 7px ;
    font-size: 17px;
    margin: 10px 0;
}
.Loginpage_formOrSection{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Loginpage_formHrLine{
    width: 44%;
    height: 1px;
    background-color: rgba(222, 222, 222, 1);
}
.Loginpage_formSignup{
    text-align: center;
}
.Loginpage_SingupText{
    color: rgba(71, 177, 67, 1);
}
.Login_GoogleSignin{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}
@media screen and (max-width: 700px){
    .Loginpage_formEmailInput{
        width: 100%;
    }
    .Loginpage_Companyname{
        width: 90%;
    }
}
@media screen and (max-width: 400px){
    .Loginpage_formEmailInput{
        width: 100%;
    }
    .Loginpage_formSection{
        padding: 3rem 1rem;
    }
    .Loginpage_formTopic{
        font-size: 25px;
    }
    .Loginpage_Companyname{
        font-size: 30px;
    }
    .Loginpage_formPasswordInput{
        width: 100%;
    }
    .Loginpage_Companyname{
        width: 90%;
    }
}