.Homepage_FooterSection{
    background-color: #071A10;
    color: #B3FF92;
    padding: 2rem 5rem;
}
.Homepage_footerCategory_SocialInfo{
    display: flex;
    justify-content: space-evenly;
}
.Hompage_footerList{
    /* margin-top: 10px;
    list-style: none;
    font-size: 19px;
    font-weight: 400; */
    color:white !important;
}
.Homepage_footerListCategory{
    margin-right: 30px;
}
.Homepage_FooterCategory{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Homepage_FooterCompanyName{
    font-size: 21px;
}
.Homepage_footerCopanyText{
    font-size: 16px;
    width: 350px;
    margin-top: 20px;
}
.Homepage_FooterSocialmedia{
    margin-top: 20px;
    display: flex;
}
.Homepage_footerSocialmediaIcon{
    margin-right: 20px;
}
.Homepage_footerCopyrightTerms{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.Homepage_TermsandPolicy{
    display: flex;
    width: 350px;
}
@media screen and (max-width: 900px){
    .Homepage_footerCategory_SocialInfo{
        flex-direction: column;
    }
    .Homepage_footerCopyrightTerms{
        flex-direction: column;
    }
}
@media screen and (max-width: 700px){
    .Homepage_FooterSection{
        padding: 2rem 1rem;
    }    
    .Homepage_footerCopanyText{
        width: 100%;
    }
}
@media screen and (max-width: 450px){    
    .Homepage_footerListCategory{
        margin-right: 10px;
    }
    .Homepage_TermsandPolicy{
        width: 100%;
    }
}