.heroSection_background{
    /* background-image: linear-gradient(to right, rgba(88, 220, 83, 1) 50%,  rgba(253, 222, 73, 1) 100%); */
    border-radius: 5px;
    display: flex;
    padding: 1rem 0 0 3rem;
    /* min-height: 400px; */
}
.heroSection_Filterbackground{
    /* background-image: linear-gradient(to right, rgba(88, 220, 83, 1) 50%,  rgba(253, 222, 73, 1) 100%); */
    border-radius: 5px;
    display: flex;
    padding: 1rem;
    /* min-height: 400px; */
}
.heroSection_Contentword{
    padding: 3rem 3rem;
    color: white;
    width: 40%;
}
.heroSection_ContentSearchFilter{
    padding: 1rem;    
    color: white;
    width: 40%;
    display: flex;
    align-items: center;
}
.heroSection_ImageFilterPage{
    padding: 0 4rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.heroSection_ContentTopic{
    font-size: 35px;
    /* width: 40%; */
}
.heroSection_ContentWords{
    margin-top: 10px;
}
.heroSection_Searchitem{
    display: flex;
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: rgba(160, 160, 160, 1);
    align-items: center;
}
.heroSection_FilterSearchitem{
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: rgba(160, 160, 160, 1);
    align-items: center;
}
.heroSection_SearchIcon{
    font-size: 20px;
    margin-right: 10px;
    padding: 0 10px;
}
.heroSection_SearchInput{
    border: none;
    font-size: 17px;
    display: flex;
    flex: 1;
}
.heroSection_SearchButton{
    color: white;
    background-color: black;
    padding:  6px 20px;
    border: none;
    border-radius: 5px;
}
.heroSection_SearchButton:hover{
    background-color: #4c4e4f;
}
.heroSection_ImageFootballer{
    animation: mover 2s ease-in-out infinite alternate-reverse both;
    /* height: 90%; */
}
.FilterPage_ContentSection{
    display: flex;
    margin-top: 20px;
}
.FilterPage_ResultFilter{
    /* position: sticky; */
    top: 10px;
    width: 250px;
    border-right: 1px solid #E0E0E0;
}
.FilterPage_TopicSearchResult{
    font-size: 20px;
    margin-bottom: 10px;
}
.FilterPage_LabelSearch{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.FilterPage_MinPriceValue{
    width: 90px;
    margin-right: 10px;
    padding: 3px 10px;
    border: 1px solid #9AA6AC;
    border-radius: 5px;
}
.FilterPage_MaxPriceValue{
    width: 90px;
    padding: 3px 10px;
    border: 1px solid #9AA6AC;
    border-radius: 5px;
}
.FilterPage_HeightSearch{
    padding: 3px 10px;
    border: 1px solid #9AA6AC;
    border-radius: 5px;
    width: 83%;

}
.FilterPage_StrongerfootSec{
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}
.FilterPage_PositionSearchedFor{
    color: #4094F7;
}
.HeroSec_TextSection{
    width: 50%;
}
.ViewPlayersButton{
    color: white !important;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.swiper-container {
    /* width: 480px; */
    width: 100%;
  }
  .swiper-slide{
    width: 390px !important;
  }
  
  /* @media screen and (min-width: 800px) {
    .swiper-container {
      width: 800px;
    }
  } */
@media screen and (max-width: 900px){
    .heroSection_ImageFootballer{
        display: none;
    }
    .heroSection_Contentword{
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    .heroSection_ContentTopic{
        font-size: 25px;
    }
    .heroSection_Contentword{
        padding: 2rem 1rem;
    }
    .heroSection_SearchIcon{
        display: none;
    }
    .footballImg_heroSection{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .heroSection_Contentword{
        width: 100%;
    }
}