.AdminPAge_Negotiate_TalentManagerNegotiateActive{
    padding: 0 10px 10px;
    text-align: center;
    width: 180px;
    border-bottom: 2px solid rgba(84, 112, 255, 1);
    color: rgba(84, 112, 255, 1);
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}
.AdminPAge_Negotiate_TalentManagerNegotiateInactive{
    padding: 0 10px 10px;
    text-align: center;
    width: 180px;
    cursor: pointer;
    border-bottom: 2px solid #EBEBF0;
    color: rgba(82, 82, 92, 1);
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
}