.Adminpage_Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 3rem;
    position: relative;
}
.AdminPage_NavMainHeader{   
    display: flex;
    width: 100%;
}
.AdminPage_MainHeaderRightSide{
    display: flex;
    align-items: center;
    background: #F1F1F1;
    padding: 5px 10px;
}
.AdminPage_SuperAdminText{
    font-size: 16px;
    font-weight: 600;
}
.AdminPage_MainHeaderLefttSide{
    display: flex;
    align-items: center;
}
.AdminPage_FootballLogo{
    margin-right: 10px;
    border-radius: 50%;
}
.AdminPage_MenuSidebar{
    display: none;
}