.AdminPermissionModal{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.AdminPermissionModal_body{
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;  
    padding: 1rem;  
}
.AdminPermissionModal_Inputlabel{
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}
.AdminPermissionModal_Input{
    width: 90%;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.AdminPermissionModal_topic{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}