.Scoutpage_contents{
    padding: 1rem 4rem;
    background-color: #f6f6f6;
    min-height: 90vh;
}
.Scoutpage_AccountLogout_div{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #b1b1b1;
}
.Scoutpage_AccountWord{
    font-size: 19px;
    font-weight: 400;
}
.Scoutpage_LinkPages{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    display: flex;
}
.Scoutpage_Profilepage{
    padding: 10px 40px;
    font-size: 14px;
}
.Scoutpage_Profileactivepage{
    padding: 10px 30px;
    border-bottom: 2px solid black;
    font-size: 14px;
}
.Scoutpage_DealContent{
    background-color: white;
    padding: 1rem;
    border-top: 1px solid rgba(177, 177, 177, 1);
}