.Scoutpage_contents{
    padding: 1rem 4rem;
    background-color: #f6f6f6;
    min-height: 90vh;
    max-width: 1350px;
    margin: 0 auto;
}
.Scoutpage_maxWidthContainer{
    background-color: #f6f6f6;
}
.Scoutpage_AccountLogout_div{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #b1b1b1;
}
.pagination {
  display: flex !important;
  justify-content: center !important;
  list-style: none;
  align-items: center !important;
  font-size: 1rem;
  gap: 5px;
  margin-top: 10px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .page-link{
    color: #1D7F33 !important;
}

.pagination .active {
  font-weight: bold;
  color: white;
  background-color: #1D7F33;
  padding: 5px;
  border-radius: 5px;
  color: white !important;
}
.Scoutpage_AccountWord{
    font-size: 19px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.Scoutpage_LinkPages{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    display: flex;
}
.Scoutpage_Profilepage{
    padding: 10px 40px;
    font-size: 14px;
}
.Scoutpage_Profileactivepage{
    padding: 10px 30px;
    border-bottom: 2px solid black;
    font-size: 14px;
}
.Scoutpage_DealContent{
    background-color: white;
    padding: 1rem;
    border-top: 1px solid rgba(177, 177, 177, 1);
}
@media(max-width: 1050px){
    .Scoutpage_DealContent{
        overflow-x: scroll;
    }
    .Scoutpage_LinkPages{
        overflow-x: scroll;
    }
}