.MakeaRequest_Modal{
    display: flex;
    align-items: center;
    padding: 5px 1rem;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}
.MakeaRequest_ModalView{
    background-color: white !important;
    border-radius: 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.offeraRequest_ModalView{
    background-color: white !important;
    border-radius: 10px;
    width: 450px;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin !important;
}
.AdvertisePlayer_ModalView{
    background-color: white !important;
    border-radius: 10px;
    width: 600px;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin !important;
}
.CloseButton_ViewedModal{
    display: flex;
    justify-content: center;
}
.ImgShownModal_ViewProfile{
    width: 100%;
    height: 65vh;
    object-fit: contain;
}
.ModalImg_ModalView{
    background-color: white !important;
    border-radius: 10px;
    width: 450px;
    max-height: 80vh;
    padding: 1rem;
}
.MakeaRequest_HowitWorksText{
    margin-left: 70px;
    font-weight: 600;
}
.MakeaRequest_HowitWorksContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
}
.MakeaRequest_HowitWorksContentInnerDiv{
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px 15px;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HomePage_ViewProfileModal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.OfferModal_TitleInput{
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
}
.OfferModal_TitleTextarea{
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    min-height: 60px;
}
.OfferModal_TitleDate{    
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
}
.OfferModal_PriceInput{
    border: 1px solid rgba(204, 204, 204, 1); 
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.OfferInput_ViewProfilePage{
    width: 90%;
    border: none;
    margin-left: 5px;
}
.OfferInput_PriceSingleSummary{
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.OfferInput_PriceTotal{
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #EFEFEF;
}
.MakeARequest_InitialAmtDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.MakeARequest_InitialAmtText{
    font-size: 20px;
    font-weight: 600;
}
.MakeARequest_InitialChangeText{
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
.VideoRequest_MidalVideoDiv{
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}